# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cấu hình môi trường ảo
.venv/
env/
venv/
ENV/
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings (nếu dùng VSCode)
.vscode/

# Logs
*.log

# Tệp dữ liệu
*.sqlite3
*.db

# Các tệp tạm
*.tmp
*.bak
*.swp

# Mac / Linux / Windows
.DS_Store
Thumbs.db
